.App {
  text-align: center;
}

label{
  text-align: left;
    font-size: 10px;
}

.labelerror {
  text-align: left;
  font-size: 10px;
  color:red;
}

.inner-contaier{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  padding-top: 10%;
  padding-bottom: 5%;
  border-radius: 25px;
  background-color: #282c34;
}

.inner-contaier > form {
  margin-left: 25%;
  margin-right: 25%;
}

input{
  border-radius: 15px;
  color:#25d72b;
  background-color:#282c34;
  border: 1px solid;

}

.input:focus {
  outline: none !important;
  border:3px solid green;
  box-shadow: 0 0 0 0 white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:grey;
  font-size: 14px;
  
}

.inlinegrid{
  display: inline-grid;
  padding-bottom: 5%;
}    

.displaygrid{
  display: inline-grid;
  margin-left: 55%;
    margin-right: 20%;
}

.tagline{
  font-size: 13px;
}

.labe-sigin{
  padding-right: 17%;
  font-size: 13px;
}
.submitbtn{
  border-radius: 15px;
  width: 50% !important;
  background-color: rgb(99, 212, 99);
  font-size: revert;
  margin-left: 25%;
  border: unset !important;
  padding-top: 5px;
    padding-bottom: 5px;
}

.dang{
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
}
.succ{
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

select{
  border-radius: 11px;
  background: #282c34;
  color: gray;
  border: 1px solid;
  border-color: #2be92b;
}
h5{
  padding-top: 20px;
  padding-bottom: 20px;
}
.agreement{
  padding-left: 2%;
  font-size: 10px;
}
.termscondition{
  color: green;
}

.agree-div{
  padding-top: 5px;
    padding-bottom: 15px;
}
.searchbar{
  font-size: 15px;
  padding-top: 15px
}
.bg-dark {
  background-color: #000000!important;
}
.searcTalenttext{
  width: -webkit-fill-available;
  margin-left: 8%;
}